{% extends "layouts/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <dl>
                <dt>{% trans "Segment" %}</dt>
                <dd>{{segment.workout_type}}</dd>
                <dt>{% trans "Laps" %}</dt>
                <dd>{{segment.laps}}</dd>
            </dl>
            {% for exercise in segment.exercises %}
                <div class="exercise-wrapper well">
                    {{exercise.to_html}}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
