{% extends "layouts/base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <ul>
                {% for workout in workouts %}
                    <li>
                        <a href="{{workout.get_absolute_url}}">
                            {{workout}}
                        </a>
                    </li>
                {% empty %}
                    <li>No workouts Yet</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}
